<h3>ParentComponent</h3>

<CascadingValue Value="FullName" Name="FullName">
    <ChildComponent></ChildComponent>
</CascadingValue>


@code {

    public String FullName { get; set; } = "Kishor Naik";

}
